name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.21'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build client image
        run: docker build -t client:latest ./Client

      - name: Build server image
        run: docker build -t server:latest ./server

      - name: Run server tests
        run: cd server && go test ./...

      - name: Run client tests
        run: cd Client && npm install && npm test
